.birbalooo {
    color: var(--gray-900, #111827);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.workingclass {
    align-self: stretch;
    color: var(--gray-600, #4b5563);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.btrr {
 
    width: 896px;
height: auto;
    
}

.center-card {
    margin: 0 auto;
    text-align: center;
}

.cardss {
    border-radius: 12px;
    background: var(--gray-default, #fff);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
}
